<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="CONSOLE_LEVEL" value="${console.level:-DEBUG}"/>

<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>${CONSOLE_LEVEL}</level>
        </filter>
        <encoder>
            <pattern>%gray(%d{HH:mm:ss}) [%magenta(%X{nodeId:-SYS})] %highlight(%-5level) %cyan(%-30.30logger{29}) - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_INFO" class="ch.qos.logback.core.FileAppender">
        <file>logs/hecaton.log</file>
        <append>true</append>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-56thread] [%X{nodeId:-SYS}] %-5level %-40.40logger{39} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="FILE_DEBUG" class="ch.qos.logback.core.FileAppender">
        <file>logs/hecaton-debug.log</file>
        <append>true</append>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%-56thread] [%X{nodeId:-SYS}] %-5level %-40.40logger{39} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="com.hecaton" level="DEBUG"/>

    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <appender-ref ref="FILE_DEBUG"/>
        <appender-ref ref="FILE_INFO"/> </root>    

</configuration>